# =================================
# JetBrains IDE (IntelliJ, Android Studio)
# =================================
# Папки с настройками проекта и запуска. Это самое важное.
.idea/
.run/

# Кэши и загруженная платформа для запуска плагина.
# Эти папки могут весить сотни мегабайт.
.gradle/
.intellijPlatform/

# =================================
# Build Artifacts & Output
# =================================
# Папка с результатами сборки.
build/

# Специфичные для IntelliJ файлы модулей.
*.iml
*.iws

# =================================
# System & Temporary files
# =================================
# Файлы Kotlin-компилятора
.kotlin/

# Логи и дампы памяти
*.log
*.hprof
*.hprof.txt

# Сгенерированные ОС файлы
# macOS
.DS_Store
# Windows
Thumbs.db